h3
{
    font-size: 100px;
    font-family: cursive;
    font-weight: lighter;
    
}

body
{
    background-color: lightblue;
}

p
{
    font-family: fantasy;
    font-style: italic;
}

